docker==4.4.4
grpcio==1.31.0
mock==3.0.5
numpy==1.16.6
pyparsing
protobuf==3.18.0
six==1.15.0
python-dateutil==2.8.2
selenium==2.37.2
psutil==5.8.0
Pillow==8.3.2
pyasn1==0.4.8
PyYAML==5.4.1
requests==2.26.0
btsocket==0.1.0
certifi==2021.5.30
chardet==3.0.4
matplotlib==3.3.4