[Unit]
Description=CROS cellular callbox control server
After=lte.service
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/root/cros_server/target/release/cros_webserver

[Install]
WantedBy=multi-user.target