# Copyright 2020 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

chromeos_patches_server: /home/chromeos_patches/env/bin/gunicorn -b 0.0.0.0:8080 main:app
