[Unit]
Description=cloud-sql-proxy required to be running to access cloudsql database

Wants=network.target
After=syslog.target network-online.target

[Service]
User=root
Type=simple
Environment="HOME=/home/chromeos_patches"
ExecStart=/usr/bin/cloud_sql_proxy -instances=google.com:chromeos-missing-patches:us-central1:linux-patches-mysql-8=tcp:3306 -credential_file=/home/chromeos_patches/secrets/linux_patches_robot_key.json
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
