[Unit]
Description=git-cookie-authdaemon required to access git-on-borg from GCE

Wants=network.target
After=syslog.target network-online.target

[Service]
User=root
Type=simple
Environment="HOME=/home/chromeos_patches"
ExecStart=/opt/gcompute-tools/git-cookie-authdaemon
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
